<%= link_to prize_path(@prize)  do %>
  <button class='return-button'> << Back to <%= @prize.name %> </button>
<% end %>

<div class='content-wrapper'>
  <h2> Edit Condition for "<%= @prize.name %>"</h2>

  <%= render partial: 'conditions/form', locals: {mode: :edit } %>
</div>
