<div class='content-wrapper'>

  <h1> Stick </h1>
  <%= link_to prizes_path  do %>
    <button class='admin-button'> Admin </button>
  <% end %>


  <p>
    The sticky note revolution is here!
  </p>

  <%= render 'contest_entries/new' %>
</div>
