 <%= link_to '/' do %>
   <button class='return-button'> << Back to home </button>
 <% end %>

<%= link_to prizes_path  do %>
  <button id='admin-button'> Admin </button>
<% end %>

<div class='user-content-wrapper'>
  <div class='contest-result'>
    <% if @entry.has_prize? %>
      <%= render partial: 'contest_entries/win',  locals: {entry: @entry} %>
    <% else %>
      <%= render partial: 'contest_entries/loss', locals: {entry: @entry} %>
    <% end %>
  </div>
</div>
